<ion-card class="ion-text-center">
  <ion-card-header>
    <ion-card-title translate>Make your bread</ion-card-title>
  </ion-card-header>
  <ion-card-content translate>
    Indicate what among of floor you want and the hydration of the bread to get all information you need
  </ion-card-content>
  <form [formGroup]="breadForm" (ngSubmit)="onSubmit(breadForm.value)">
    <ion-card-content>
      <ion-list>
        <ion-item-group>
          <ion-item>
            <ion-label translate>Quantity of Floor </ion-label>
            <ion-input type="number" formControlName="floor"></ion-input>
            <ion-label slot="end">g</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label translate>Levain hydration used(%)</ion-label>
            <ion-note mode="ios" color="primary" slot="end">{{ breadForm.value.levainHydration }} %</ion-note>
          </ion-item>
          <ion-item>
            <ion-range formControlName="levainHydration" min="30" max="100" step="5" snaps="true" color="secondary">
              <ion-label slot="start">30%</ion-label>
              <ion-label slot="end">100%</ion-label>
            </ion-range>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            <ion-label translate>Advanced settings</ion-label>
            <ion-toggle slot="end" color="primary" formControlName="advanced"></ion-toggle>
          </ion-item-divider>
          <ng-container *ngIf="breadForm.value.advanced">
            <ion-item lines="none">
              <ion-label translate>Bread hydration (%)</ion-label>
              <ion-note mode="ios" color="primary" slot="end">{{ breadForm.value.breadHydration }} %</ion-note>
            </ion-item>
            <ion-item>
              <ion-range formControlName="breadHydration" min="50" max="90" step="5" snaps="true" color="secondary">
                <ion-label slot="start">50%</ion-label>
                <ion-label slot="end">90%</ion-label>
              </ion-range>
            </ion-item>

            <ion-item lines="none">
              <ion-label translate>Salt (%)</ion-label>
              <ion-note mode="ios" color="primary" slot="end">{{ breadForm.value.saltPercent }} %</ion-note>
            </ion-item>
            <ion-item>
              <ion-range formControlName="saltPercent" min="2" max="3.5" step="0.2" snaps="true" color="secondary">
                <ion-label slot="start">2%</ion-label>
                <ion-label slot="end">3.5%</ion-label>
              </ion-range>
            </ion-item>

            <ion-item lines="none">
              <ion-label translate>Levain quantity (%)</ion-label>
              <ion-note mode="ios" color="primary" slot="end">{{ breadForm.value.levainPercent }} %</ion-note>
            </ion-item>
            <ion-item>
              <ion-range formControlName="levainPercent" min="20" max="50" step="10" snaps="true" color="secondary">
                <ion-label slot="start">20%</ion-label>
                <ion-label slot="end">50%</ion-label>
              </ion-range>
            </ion-item>
          </ng-container>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="block" type="submit" translate>Calculate</ion-button>
    </ion-card-content>
  </form>
</ion-card>
